/* src/App.css */
.app {
  background-color: black;
}

.app__body {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  margin-top: 35px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 35px); /* Adjust height to account for header */
  padding-top: 35px; /* Adjust padding to the height of the header */
}

.app__left,
.app__right {
  flex: 0.2;
}

.app__feed {
  display: flex;
  flex-direction: column; /* Stack images vertically */
  align-items: center; /* Center images horizontally */
  flex: 1;
}

.app__image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px; /* Add some space between images */
}
